@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:800&display=swap');

/* Colours */
$background: #8e44ad;

/* Text */
$poppins: "Poppins", sans-serif;
$robotoBold: "Roboto Slab", serif;

/* Sizing */
$initialClockScale: 5.5;
$digitSpacing: .1rem;